* {
  padding: 0px;
  margin: 0px;
}

ul {
  display: inline;
}

#header {
  width: 100%;
}

#footer {
  background-color: #f2f4f7;
  position: fixed;
  width: 100%;
  bottom: 0px;
}

#searchbar-container {
  box-shadow: 0 0 3px #ccc;
  border-radius: 3px;
  border-style: solid;
  height: 44px;
  width: 589px;
  bottom: 0px;
}

#searchbar {
  border-style: none;
  height: 34px;
  width: 559px;
}

#search-button {
  padding: 5px 10px 5px 10px;
  background-color: #f2f4f7;
  border-radius: 3px;
  border-style: none;
  font-weight: bold;
  color: #9b9b9b;
}

#feeling-lucky {
  padding: 5px 10px 5px 10px;
  background-color: #f2f4f7;
  border-radius: 3px;
  border-style: none;
  font-weight: bold;
  color: #9b9b9b;
}

#search-button:hover {
  padding: 5px 10px 5px 10px;
  border-style: solid;
  border-radius: 3px;
  font-weight: bold;
  color: #000000;
}

#feeling-lucky:hover {
  padding: 5px 10px 5px 10px;
  border-style: solid;
  border-radius: 3px;
  font-weight: bold;
  color: #000000;
}
