* {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: #9b9b9b;
}

li {
  display: inline;
}

#jewtube-logo {
  height: 25px;
  width: 58px;
}

#header {
  width: 100%;
  padding: 17px;
}

#footer {
  border-top: 1px solid #9b9b9b;
  background-color: #f2f4f7;
  /*position: fixed;*/
  padding: 6px;
  width: 100%;
  bottom: 0px;
}

#searchbar-container {
  box-shadow: 0 0 3px #ccc;
  border-radius: 3px;
  margin-top: 50px;
  height: 44px;
  width: 589px;
}

#searchbar-container:hover {
  box-shadow: 0 0 6px #ccc;
  border-radius: 3px;
  margin-top: 50px;
  height: 44px;
  width: 589px;
}

#searchbar {
  border-style: none;
  height: 34px;
  width: 559px;
  bottom: 0px;
}

#search-button {
  height: 36px;
  padding: 1px 16px;
  background-color: #f2f4f7;
  border-radius: 3px;
  border-style: none;
  font-weight: bold;
  color: #9b9b9b;
}

#feeling-lucky {
  height: 36px;
  padding: 1px 16px;
  background-color: #f2f4f7;
  border-radius: 3px;
  border-style: none;
  font-weight: bold;
  color: #9b9b9b;
}

#search-button:hover {
  height: 36px;
  padding: 0px 15px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  font-weight: bold;
  color: #000000;
}

#feeling-lucky:hover {
  height: 36px;
  padding: 0px 15px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  font-weight: bold;
  color: #000000;
}
