* {
  padding: 0px;
  margin: 0px;
}

#footer {
  background-color: #f2f4f7;
}

#search {
  background-color: #f2f4f7;
  border-style: none;
  font-weight: bold;
}

#feeling-lucky {
  background-color: #f2f4f7;
  border-style: none;
  font-weight: bold;
}
